.block {
    position: relative;
    margin: 0;
    width: 100%;
    height: 1000px;

    &_about {
        height: 985px;
    }

    &_work {
        height: 1150px;
    }

    &_contact {
        height: 868px;
    }

    &__theme {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &_home {
            @extend .block__theme;
            background-image: url("book.png");
            color: white;
        }

        &_services {
            @extend .block__theme;
            background-image: url("services.png");
            color: white;
        }

        &_we-are {
            @extend .block__theme;
            background-image: url("purple.png");
            color: white;
        }

        &_work {
            @extend .block__theme;
            background-image: url("green.png");
            color: white; 
        }

        &_contact {
            @extend .block__theme;
            background-image: url("blue.png");
            color: white; 
        }
    }
}

