.block {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 1000px;

    &__theme {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &_home {
            @extend .block__theme;
            background-image: url("book.png");
            color: white;
        }

        &_services {
            @extend .block__theme;
            background-image: url("services.png");
            color: white;
        }

        &_we-are {
            @extend .block__theme;
            background-image: url("purple.png");
            color: white;
        }
    }
}

