.nav {
    display: flex;
    justify-content: space-between;
    width: 34.375em;
    height: 4.25em;

    &__item {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        width: 6.25em;
        height: 100%;

        padding-bottom: 0.25em;
        border-radius: 0 0 0.3125em 0.3125em;

        

        &_current_home {
            background-color: #74c7d5;
        }

    }

    &__link {
        font-size: 1.125em;
        text-decoration: none;
        color: #fff;
        padding-bottom: 0.625em;
        line-height: 100%;
    }

    @media screen and (max-width:1200px) {
        width: 100%;
    }
}