.nav {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 68px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        width: 100px;
        height: 100%;

        padding-bottom: 4px;
        border-radius: 0 0 5px 5px;

        

        &_current_home {
            background-color: #74c7d5;
        }

        &_current_services {
            background-color: #df5c64;
        }

        &_current_about {
            background-color: #91778e;
        }

    }

    &__link {
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        padding-bottom: 10px;
    }

    @media screen and (max-width:1200px) {
        width: 100%;
    }
}